# Supabase 1: Devocionais (Conteúdo Público)
DEVOTIONAL_SUPABASE_URL=https://seu-projeto-devocionais.supabase.co
DEVOTIONAL_SUPABASE_ANON_KEY=sua-anon-key-aqui

# Supabase 2: Usuários e Autenticação (OAuth / Sincronização)
AUTH_SUPABASE_URL=https://seu-projeto-auth.supabase.co
AUTH_SUPABASE_ANON_KEY=sua-anon-key-aqui
AUTH_REDIRECT_URI=nhaapp://login-callback

GEMINI_API_KEY=AQ.suaapi-gemini

SUPABASE_SERVICE_ROLE_KEY=sua.service.role.key.aqui (Do auth no caso)
#Mesmo do auth, só mantive o nome mesmo